body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

::selection {
  background-color: rgba(0, 197, 102, 0.3);
  color: #021A0D;
}

@font-face {
  font-family: 'GraphikLCG';
  src: url('../fonts/GraphikLCG-Regular.eot');
  src: url('../fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/GraphikLCG-Regular.woff2') format('woff2'), url('../fonts/GraphikLCG-Regular.woff') format('woff'), url('../fonts/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GraphikLCG';
  src: url('../fonts/GraphikLCG-Medium.eot');
  src: url('../fonts/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/GraphikLCG-Medium.woff2') format('woff2'), url('../fonts/GraphikLCG-Medium.woff') format('woff'), url('../fonts/GraphikLCG-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'GraphikLCG', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  color: #021A0D;
  background-color: #F0F2F0;
  text-rendering: optimizeSpeed;
  min-width: 375px;
  letter-spacing: -0.01em;
}

main {
  min-height: 100vh;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

strong,
b {
  font-weight: 500;
}

button {
  border: none;
  cursor: pointer;
}

/* Служебные классы */

.h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.c-b40 {
  color: rgba(2, 26, 13, 0.4);
}

.c-w40 {
  color: rgba(255, 255, 255, 0.4);
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.tac {
  text-align: center;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */

*:focus:not(:focus-visible) {
  outline: none !important;
}

input[type='submit'] {
  -webkit-appearance: none;
  appearance: none;
}

.btn {
  display: inline-block;
  padding: 16px 52px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  border-radius: 16px;
  color: #fff;
  background-color: #00C566;
  transition: all 0.5s;
}

.btn:hover,
.btn:active,
.btn a:focus {
  background-color: #00B75F;
}

.btn:disabled {
  opacity: 0.4;
}

.btn-o {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.btn-o:hover,
.btn-o:active,
.btn-o a:focus {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
}

.btn-w {
  color: #021A0D;
  background-color: #fff;
}

.btn-w:hover,
.btn-w:active,
.btn-w a:focus {
  color: #00C566;
  background-color: #fff;
}

.btn-link {
  position: relative;
}

.btn-link::after {
  position: absolute;
  content: url(../img/arrow-right.svg);
  right: 1.5vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn-w.btn-link::after {
  content: url(../img/arrow-right-b.svg);
}

.btn-map {
  background-color: #fff;
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 16px 0px #021A0D1A;
}

.btn-page {
  display: inline-block;
  color: #021A0D !important;
  background-color: rgba(2, 26, 13, 0.05);
  border-radius: 16px;
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  transition: all 0.5s;
}

.btn-page:hover {
  background-color: rgba(2, 26, 13, 0.1);
}

.btn-page:active,
.btn-page.active {
  color: #fff !important;
  background-color: #021A0D;
}

.btn-next,
.btn-prev {
  position: relative;
  font-size: 0;
}

.btn-next::after,
.btn-prev::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: url(../img/shevron.svg) no-repeat center;
}

.btn-prev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btn-next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.filter__buttons {
  margin-top: 24px;
  display: flex;
  overflow-x: auto;
}

.filter__buttons button {
  flex-shrink: 0;
  margin-right: 8px;
  padding: 5px 16px;
  font-size: 17px;
  border: none;
  border-radius: 50px;
  color: #021A0D;
  background-color: rgba(2, 26, 13, 0.05);
  cursor: pointer;
  transition: all 0.5s;
}

.filter__buttons button:hover {
  background-color: rgba(2, 26, 13, 0.1);
}

.filter__buttons button:active,
.filter__buttons button:focus {
  color: #fff;
  background-color: #021A0D;
}

.mixitup-control-active {
  color: #fff !important;
  background-color: #021A0D !important;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination__more {
  flex-grow: 1;
  width: 100%!important;
}

.pagination__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__list .btn-page {
  margin: 4px;
}

.form__input {
  width: 100%;
  padding: 15px 24px;
  font-size: 17px;
  border-radius: 16px;
  border: none;
  outline: none;
  opacity: 0.6;
}

.form__input:focus {
  opacity: 1;
}

.form__input + .form__input {
  margin-top: 8px;
}

.form__submit {
  margin-top: 24px;
  max-width: 310px;
  border: none;
  cursor: pointer;
}

.form .acceptance {
  margin-top: 16px;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.form .acceptance b,
.form .acceptance a,
.form .acceptance strong {
  font-weight: 500;
  color: #021A0D;
}

.withus__content {
  display: flex;
  min-height: 640px;
  background-color: #fff;
  border-radius: 40px;
  overflow: hidden;
}

.withus__intro {
  padding: 40px;
  width: 34%;
}

.withus__intro .h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.withus__slider {
  position: relative;
  --f-progress-color: transparent;
  width: 66%;
}

.withus__slide {
  padding: 44px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  background-color: #00C566;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.withus__slide .h3 {
  font-weight: 500;
}

.withus__slide > * {
  max-width: 672px;
}

.withus__slide .btn {
  margin-top: auto;
}

.withus .f-carousel.has-dots {
  margin-bottom: 0;
}

.withus .f-carousel__dots {
  bottom: 40px;
  right: 40px;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.withus .f-carousel__dots li {
  margin-right: 8px;
  width: 83px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
  opacity: 1;
}

.withus .f-carousel__dots li button {
  width: 100%;
  height: 8px;
  text-align: left;
}

.withus .f-carousel__dot {
  background-color: #fff;
  height: 8px;
  width: 0;
  border-radius: 999px;
  margin-right: auto;
}

.accomp {
  padding: 40px 64px;
  background-color: #F0F2F0;
  color: #021A0D;
}

.accomp__title {
  position: relative;
  margin-bottom: 8px;
  padding-left: 44px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #021A0D;
  cursor: pointer;
}

.accomp__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  left: 0;
  top: 50%;
  margin-top: -18px;
  background: rgba(2, 26, 13, 0.05) url(../img/shevron.svg) no-repeat center;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.accomp__title.active::after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  background-color: rgba(2, 26, 13, 0.1);
}

.accomp__descr {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: rgba(2, 26, 13, 0.4);
  max-height: 64px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.accomp__descr::after {
  display: none;
  position: absolute;
  content: '';
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(0deg, #f0f2f0, hsla(120, 7%, 95%, 0));
}

.accomp__descr.open::after {
  display: none;
}

.discuss {
  margin-top: 24px;
}

.discuss__content {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 480px;
  grid-template-areas: "title form" "contact form";
  background-color: #021A0D;
  color: #fff;
  border-radius: 40px;
}

.discuss__title {
  grid-area: title;
  margin-bottom: 88px;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 500;
}

.discuss__contact {
  grid-area: contact;
  font-size: 17px;
}

.discuss__contact-wrap {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.discuss__contact-list {
  margin-right: 23px;
  display: flex;
}

.discuss__contact-list li {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.discuss__contact-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.discuss__contact-list li:first-child {
  z-index: 2;
}

.discuss__contact-list li:last-child {
  background-color: #2BAAEF;
  margin-left: -16px;
}

.discuss__form {
  grid-area: form;
  padding-left: 40px;
  border-left: 2px solid rgba(255, 255, 255, 0.4);
}

.discuss__form .acceptance b,
.discuss__form .acceptance a,
.discuss__form .acceptance strong {
  color: #fff;
}

.discuss .form__submit {
  margin-top: 96px;
  font-size: 19px;
}

.ss__content {
  padding: 40px 0;
  border: 3px solid rgba(2, 26, 13, 0.05);
  border-radius: 40px;
}

.ss__header {
  padding: 0 40px;
  margin-bottom: 40px;
}

.ss__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ss__header-wrapper span {
  color: rgba(2, 26, 13, 0.4);
}

.ss__header-link {
  position: relative;
  color: rgba(2, 26, 13, 0.4);
  font-weight: 500;
  font-size: 36px;
  padding-right: 25px;
}

.ss__header-link::after {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  margin-top: -9px;
  width: 18px;
  height: 19px;
  background: url(../img/arrow-right-g.svg) no-repeat;
}

.ss__filter-buttons button {
  flex-grow: 1;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 16px;
}

.ss__filter-buttons .search {
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ss__filter-buttons .search:active,
.ss__filter-buttons .search:focus {
  background-color: rgba(2, 26, 13, 0.05);
}

.ss__slider {
  position: relative;
  padding-left: 40px;
  --f-carousel-spacing: 20px;
}

.ss__slider::after {
  display: block;
  position: absolute;
  content: '';
  width: 100px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 2;
  background: linear-gradient(-90deg, #f0f2f0, hsla(120, 7%, 95%, 0));
}

.ss__slide {
  width: 450px;
  height: 495px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 36px;
  line-height: 1.2;
  color: #021A0D;
  background: #fff url(../img/service-slider-bg.png) no-repeat center / cover;
  border-radius: 24px;
}

.ss__slide span {
  display: block;
  color: rgba(2, 26, 13, 0.4);
}

.ss__slide:hover {
  border: 1px solid red;
}

.widget {
  padding: 24px;
  border-radius: 24px;
  background-color: rgba(2, 26, 13, 0.05);
}

.widget + .widget {
  margin-top: 40px;
}

.widget__title {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
}

.widget__text,
.widget .context-text {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.widget__text li a,
.widget .context-text li a {
  color: inherit;
  transition: color 0.5s;
}

.widget__text li a:hover,
.widget .context-text li a:hover {
  color: #00C566;
}

.widget__text li + li,
.widget .context-text li + li {
  margin-top: 20px;
}

.widget__btn {
  margin-top: 16px;
  width: 100%;
}

.widget__chat {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid rgba(2, 26, 13, 0.05);
  display: flex;
  align-items: center;
}

.widget__soc {
  margin-right: 16px;
  flex-shrink: 0;
}

.widget__soc li {
  display: inline-block;
}

.widget__soc li + li {
  margin-left: 8px;
}

.widget .form {
  margin-top: 24px;
}

.widget--greet .widget__title,
.widget--greet .widget__text {
  padding-left: 56px;
}

.widget--greet .widget__title {
  position: relative;
}

.widget--greet .widget__title::before {
  position: absolute;
  content: url(../img/greet.png);
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
}

.widget--greet .widget__btn {
  color: #021A0D;
  background-color: #fff;
}

.widget--greet .widget__btn::after {
  right: 50px;
  content: url(../img/arrow-right-b.svg);
}

.header__top-content {
  padding: 8px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: -0.01em;
}

.header__address,
.header__work {
  position: relative;
  color: rgba(2, 26, 13, 0.4);
  transition: color 0.5s;
  padding-left: 24px;
}

.header__address:hover,
.header__work:hover {
  color: #021A0D;
}

.header__address {
  cursor: pointer;
  margin-left: 48px;
}

.header__address::before {
  position: absolute;
  content: url(../img/nav.svg);
  left: 0;
  top: 0;
}

.header__work {
  margin-left: 24px;
}

.header__work::before {
  position: absolute;
  content: url(../img/time.svg);
  left: 0;
  top: 0;
}

.header__top-menu {
  margin-left: auto;
  display: flex;
}

.header__top-menu li a {
  display: block;
  padding: 8px 16px;
  margin-right: 16px;
  color: #021A0D;
  border-radius: 8px;
  transition: background-color 0.5s;
}

.header__top-menu li a:hover {
  background-color: rgba(2, 26, 13, 0.05);
}

.header__bottom {
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 16px;
  background-color: #F0F2F0;
  transition: top 1.8s;
}

.header__bottom-content {
  display: flex;
  align-items: stretch;
  font-size: 17px;
}

.header__bottom-content > * {
  margin-right: 4px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 12px;
  border-radius: 24px;
  background-color: #fff;
}

.header__logo {
  margin-left: 36px;
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 258px;
  height: auto;
}

.header__bottom-menu {
  display: flex;
  align-items: center;
}

.header__bottom-menu li a {
  display: block;
  padding: 18px 24px;
  font-weight: 500;
  border-radius: 16px;
  color: #021A0D;
  transition: background-color 0.5s;
}

.header__bottom-menu li a:hover {
  background-color: rgba(2, 26, 13, 0.05);
}

.header__bottom-menu li a span {
  margin-left: 4px;
}

.header__bottom-menu li a span.online {
  position: relative;
  padding-right: 10px;
}

.header__bottom-menu li a span.online::after {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #00C566;
}

.header__tel {
  padding: 30px 24px;
  border-radius: 24px;
  background-color: #fff;
}

.header__mail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
  border-radius: 24px;
}

.header__consult {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding: 28px 32px;
  border-radius: 24px;
}

.sticky-nav {
  position: fixed;
  top: -120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 99;
}

.sticky-nav.fix {
  top: 0;
}

.hero {
  margin-bottom: 24px;
}

.hero__content {
  padding: 48px;
  background: #021A0D url(../img/hero-bg.jpg) no-repeat center right / cover;
  color: #fff;
  border-radius: 24px;
}

.hero .h1 {
  margin-bottom: 278px;
  font-size: 58px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.hero span {
  display: block;
}

.hero span img {
  margin-left: 8px;
  vertical-align: middle;
}

.hero span + span {
  margin-top: 24px;
}

.hero .btn {
  margin-right: 16px;
  margin-bottom: 8px;
  white-space: nowrap;
  border-radius: 999px;
}

.hero .btn * {
  vertical-align: middle;
  margin: 0 8px;
}

.content {
  padding-bottom: 40px;
  border-radius: 40px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 439px;
  grid-template-areas: "header header" "main aside";
}

.content.content-100 {
  grid-template-areas: "header header" "main main";
}

.content__header {
  grid-area: header;
  padding: 24px 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #fff;
}

.content__info {
  margin-top: 10px;
  color: rgba(2, 26, 13, 0.4);
  font-size: 14px;
  line-height: 1.4;
}

.content__info a {
  color: inherit;
  transition: color 0.5s;
}

.content__info a:hover,
.content__info a:active,
.content__info a:focus {
  color: #00C566;
}

.content__info span {
  margin-right: 10px;
  position: relative;
  display: inline-block;
  max-width: 175px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__info span.watch {
  padding-left: 24px;
}

.content__info span.watch::before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
  content: '';
  background: url(../img/watch.svg) no-repeat;
  width: 20px;
  height: 20px;
}

.content__info.breadcrumbs {
  margin-top: 0;
  margin-bottom: 8px;
}

.content__title {
  font-size: 58px;
  font-weight: 500;
  line-height: 1.2;
  max-width: calc(100% - 20vw);
}

.content__main {
  position: relative;
  grid-area: main;
  background-color: #fff;
  padding: 0 40px;
}

.content__main h2 {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.03em;
  scroll-margin-top: 220px;
}

.content__main h3 {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.content__main p {
  margin-bottom: 16px;
}

.content__main p.has-medium-font-size {
  font-size: 22px;
}

.content__main ul,
.content__main ol {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

.content__main ul li {
  list-style-position: inside;
  list-style-type: disc;
}

.content__main ol li {
  list-style-position: inside;
}

.content__main li {
  margin-bottom: 16px;
}

.content__main a {
  color: #00C566;
}

.content__main a:hover {
  cursor: pointer;
}

.content__main .map__wrapper a {
  color: #021A0D;
  transition: color 0.5s;
}

.content__main .map__wrapper a:hover {
  color: #00C566;
}

.content__main blockquote {
  margin: 40px 0;
  padding: 40px;
  background-color: rgba(2, 26, 13, 0.05);
  border-radius: 24px;
  font-size: 22px;
}

.content__main cite {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(2, 26, 13, 0.4);
}

.content__tags {
  margin-top: 40px;
  padding-top: 16px;
  border-top: 1px solid rgba(2, 26, 13, 0.1);
}

.content__tags span {
  margin-right: 8px;
}

.content__tags a {
  color: #021A0D;
}

.content .aside {
  grid-area: aside;
  padding: 0 40px;
  background-color: #fff;
  border-left: 1px solid rgba(2, 26, 13, 0.1);
}

.privacy-policy .content h2 {
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  scroll-margin-top: 200px;
}

.privacy-policy .content h2:first-of-type {
  margin-top: 0;
}

.context {
  max-width: 460px;
  margin-bottom: 40px;
  padding: 24px;
  border-radius: 24px;
  background-color: rgba(2, 26, 13, 0.05);
}

.context-title {
  position: relative;
  padding-left: 42px;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
}

.context-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  left: 0;
  top: 50%;
  margin-top: -18px;
  background: rgba(2, 26, 13, 0.05) url(../img/shevron.svg) no-repeat center;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.context-title.active::after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  background-color: rgba(2, 26, 13, 0.1);
}

.context-text {
  margin-top: 24px;
}

.context-text ul li {
  list-style: none;
}

.content__main .context-text a {
  color: #021A0D;
  transition: color 0.5s;
}

.content__main .context-text a:hover {
  color: #00C566;
}

.notice-p {
  margin-top: 24px;
  color: rgba(2, 26, 13, 0.4);
}

.notice-p__descr {
  font-size: 13px;
  line-height: 1.5;
}

.notice-p__descr--lead {
  position: relative;
  margin-bottom: 8px;
  padding-left: 20px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 500;
}

.notice-p__descr--lead::after {
  position: absolute;
  content: url(../img/notice.svg);
  left: 0;
  top: 0;
}

.price__box {
  padding: 24px;
  border-radius: 32px;
  background-color: rgba(2, 26, 13, 0.05);
}

.price__item {
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 16px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #021A0D;
  background-color: #fff;
  display: flex;
  align-items: stretch;
}

.price__item a {
  color: inherit;
  transition: color 0.5s;
}

.price__item a:hover {
  color: #00C566;
}

.price__text {
  padding-right: 20px;
}

.price__money {
  margin-left: auto;
  width: 212px;
  max-width: 100%;
  flex-shrink: 0;
  border-left: 1px solid rgba(2, 26, 13, 0.1);
  text-align: right;
}

.price__money span {
  display: block;
  color: rgba(2, 26, 13, 0.4);
}

.faq__item {
  padding: 24px 40px;
  border-radius: 24px;
  background-color: rgba(2, 26, 13, 0.05);
}

.faq__item + .faq__item {
  margin-top: 12px;
}

.faq__ask {
  position: relative;
  padding: 4px 0;
  padding-right: 46px;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.4;
}

.faq__ask:hover {
  cursor: pointer;
}

.faq__ask::after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  right: 0;
  top: 50%;
  margin-top: -18px;
  background: rgba(2, 26, 13, 0.05) url(../img/shevron.svg) no-repeat center;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.faq__ask.active::after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  background-color: rgba(2, 26, 13, 0.1);
}

.faq__answer {
  margin-top: 16px;
  display: none;
}

.feedback__items {
  max-width: 968px;
}

.feedback__items::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  clear: both;
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.feedback__item {
  float: left;
  width: 450px;
  max-width: 100%;
  margin: 12px;
  padding: 32px;
  border-radius: 24px;
  background-color: rgba(2, 26, 13, 0.05);
}

.feedback__item--width2 {
  width: 100%;
}

.feedback__header {
  margin-bottom: 8px;
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.feedback__date {
  color: rgba(2, 26, 13, 0.4);
}

.feedback__text {
  font-size: 19px;
  line-height: 1.4;
  font-weight: 500;
}

.feedback__text p + p {
  margin-bottom: 14px;
}

.feedback__author {
  font-size: 19px;
  line-height: 1.4;
  font-weight: 500;
  color: rgba(2, 26, 13, 0.4);
}

.feedback__item-first .feedback__text,
.feedback__item-first .feedback__author {
  font-size: 22px;
  line-height: 1.3;
}

.feedback__footer {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__link {
  position: relative;
  padding: 5px 16px;
  padding-right: 25px;
  font-size: 17px;
  border-radius: 999px;
  color: #021A0D !important;
  background-color: rgba(2, 26, 13, 0.05);
  transition: background-color 0.5s;
}

.feedback__link:hover,
.feedback__link:active,
.feedback__link:focus {
  background-color: rgba(2, 26, 13, 0.1);
}

.feedback__link::after {
  position: absolute;
  content: url(../img/shevron.svg);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  right: 10px;
  top: 5px;
}

.feedback__greet {
  position: relative;
  padding-right: 52px;
  font-size: 17px;
  color: #021A0D !important;
}

.feedback__greet::after {
  position: absolute;
  content: url(../img/greet.png);
  right: 0;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
}

.p404 {
  padding: 20px 0;
}

.p404__content {
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #E4E7E5;
  border-radius: 40px;
}

.p404 h1 {
  margin-top: 50px;
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.p404 p {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.p404 p:last-of-type {
  margin-bottom: 24px;
}

.p404 .btn + .btn {
  margin-left: 8px;
}

.footer {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(2, 26, 13, 0.4);
}

.footer__content {
  padding: 40px 40px 16px;
}

.footer a {
  color: #021A0D;
  transition: color 0.5s;
}

.footer a:hover,
.footer a:active,
.footer a :focus {
  color: #00C566;
}

.footer b {
  color: #021A0D;
}

.footer__top {
  display: flex;
  gap: 8px;
}

.footer__links {
  display: flex;
  gap: 8px;
}

.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 32px;
  text-align: center;
}

.footer svg path {
  transition: fill 0.5s;
}

.footer__icon:hover path,
.footer__icon:active path,
.footer__icon:focus path {
  fill: #00C566;
}

.footer__popup {
  position: relative;
  padding: 18px 184px 18px 24px;
  width: 100%;
  max-width: 348px;
  height: 120px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 45%, #FFFFFF 74.42%), url(../img/map.png) no-repeat right center / cover;
  border-radius: 32px;
  overflow: hidden;
}

.footer__popup::after {
  position: absolute;
  content: url(../img/pick.svg);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 56px;
}

.footer__member {
  width: 100%;
  max-width: 600px;
  min-width: 316px;
  height: 120px;
  padding: 20px 160px 20px 16px;
  background: rgba(2, 26, 13, 0.03) url(../img/member.svg) no-repeat 90% center / 80px;
  border-radius: 32px;
  text-align: right;
  overflow: hidden;
}

.footer__middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer__menu {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 376px;
  width: 100%;
}

.footer__menu li {
  width: 120px;
  margin-bottom: 40px;
}

.footer__menu li span {
  margin-left: 4px;
  color: rgba(2, 26, 13, 0.4);
}

.footer__contact {
  padding: 40px 0;
  text-align: right;
}

.footer__logo {
  display: inline-block;
  max-width: 147px;
  margin-bottom: 56px;
}

.footer__bottom {
  display: flex;
  padding-top: 16px;
  border-top: 1px solid rgba(2, 26, 13, 0.1);
}

.footer__bottom > * {
  margin-bottom: 16px;
}

.footer__bottom p + p {
  margin-left: 28px;
}

.footer__bottom p:last-of-type {
  margin-left: auto;
}

.map {
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.5);
}

.map__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 538px;
}

.map__info {
  position: absolute;
  left: 34px;
  top: 34px;
  background-color: #fff;
  width: 512px;
  height: 89%;
  z-index: 2;
  border-radius: 32px;
  box-shadow: 8px 8px 16px 0px #021A0D1A;
  padding: 24px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  transition: max-height 0.5s;
}

.map__cards {
  padding: 5px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.map__card {
  margin-bottom: 24px;
  padding: 24px 24px 16px;
  background-color: #F0F2F0;
  border-radius: 24px;
}

.map__card-header {
  margin-bottom: 43px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.map__city {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
}

.map__address {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.4;
}

.map__time {
  position: relative;
  padding-left: 24px;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(2, 26, 13, 0.4);
}

.map__time::after {
  position: absolute;
  content: url(../img/time.svg);
  left: 0;
  top: 0;
  margin-top: -3px;
  width: 20px;
  height: 20px;
}

.map__route {
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  padding: 4px 16px;
  padding-right: 36px;
  font-size: 14px;
  background-color: rgba(2, 26, 13, 0.05);
  border-radius: 999px;
  color: #021A0D;
  transition: background-color 0.5s;
}

.map__route:hover {
  background-color: rgba(2, 26, 13, 0.1);
}

.map__route::after {
  position: absolute;
  content: url(../img/route.svg);
  right: 10px;
  top: 7px;
}

.map__card-pic {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: rgba(2, 26, 13, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.map__card-pic img {
  width: 30px;
  height: auto;
}

.map__contacts {
  display: flex;
  align-items: stretch;
}

.map__tel-btn {
  margin-right: 4px;
  padding-left: 22px!important;
  padding-right: 42px!important;
  font-weight: 500;
}

.map__tel-btn::after {
  right: 20px;
}

.map__mail-btn {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map__hide {
  position: absolute;
  right: -60px;
  top: 0;
}

.map__hide img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.map__info.hide {
  padding: 0;
}

.map__info.hide .map__cards {
  display: none;
}

.map__info.hide .map__hide img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.map .popup__inner {
  width: 100%;
  height: 100%;
}

.map__box {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  overflow: hidden;
}

.map__box iframe {
  width: 100%;
  height: 100%!important;
}

.fancybox__container:not(.is-compact) .fancybox__slide.has-close-btn {
  padding-top: 4px;
}

.fancybox__content > .f-button.is-close-btn {
  top: 34px;
  right: 34px;
  width: 56px;
  height: 56px;
  border-radius: 16px;
  background-color: #fff !important;
  border: 2px solid rgba(2, 26, 13, 0.05);
  opacity: 1;
  box-shadow: 8px 8px 16px 0px #021A0D1A;
}

.fancybox__content > .f-button.is-close-btn svg {
  stroke: #021A0D;
}

.fancybox__content > .f-button.is-close-btn:hover {
  opacity: 1;
}

.is-compact .fancybox__content > .f-button.is-close-btn {
  top: 34px;
  right: 34px;
}

.fancybox__backdrop {
  background-color: rgba(255, 255, 255, 0.5);
}

.fancybox__slide {
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .d-xl-none {
    display: none;
  }

  .mt-xl-0 {
    margin-top: 0!important;
  }

  .withus__slide .btn {
    margin-top: 184px;
  }

  .withus .f-carousel__dots {
    top: 40px;
    align-items: flex-start;
    justify-content: center;
  }

  .accomp__descr::after {
    display: block;
  }

  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "main main" "aside aside";
    border-radius: 0;
    background-color: transparent;
    padding-bottom: 0;
  }

  .content__header {
    padding: 16px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  .content__main {
    padding: 0 16px 16px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .content .aside {
    margin-top: 16px;
    padding: 16px;
    border-radius: 24px;
    border-left: none;
  }

  .footer__top {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .withus__content {
    flex-direction: column;
    min-height: auto;
  }

  .withus__intro {
    width: 100%;
  }

  .withus__slider {
    width: 100%;
  }

  .withus__slide {
    padding-top: 84px;
  }

  .discuss__content {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "form" "contact";
  }

  .discuss__title {
    margin-bottom: 40px;
    font-size: 22px;
  }

  .discuss__contact {
    margin-top: 40px;
  }

  .discuss__form {
    padding-left: 0;
    padding-top: 24px;
    border-left: none;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }

  .hero__content {
    padding: 16px;
    background: #021A0D;
  }

  .hero .h1 {
    margin-bottom: 74px;
    font-size: 30px;
  }

  .hero span img {
    margin-left: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }

  .hero span + span {
    margin-top: 12px;
  }

  .content__title {
    max-width: 100%;
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
  .btn-map {
    width: 44px;
    height: 44px;
    border-radius: 12px;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .pagination__more {
    margin-bottom: 8px;
  }

  .accomp {
    padding: 8px 16px;
  }

  .ss__content {
    padding: 24px 0;
    border-radius: 24px;
  }

  .ss__header {
    padding: 0 24px;
    margin-bottom: 24px;
  }

  .ss__header-link {
    font-size: 22px;
  }

  .hero {
    margin-bottom: 16px;
  }

  .map {
    padding: 0;
    padding-top: 24px;
    border-radius: 0;
  }

  .map__info {
    padding: 16px;
    left: 0;
    right: 0;
    top: unset;
    bottom: 0;
    border-radius: 16px;
    width: 95%;
    max-height: 45%;
  }

  .map__card {
    padding: 16px;
    margin-bottom: 16px;
  }

  .map__card-header {
    margin-bottom: 37px;
  }

  .map__city {
    font-size: 17px;
  }

  .map__card-pic {
    width: 48px;
    height: 48px;
  }

  .map__tel-btn {
    padding-left: 6px!important;
    padding-right: 30px!important;
  }

  .map__hide {
    left: 0;
    right: unset;
    top: -55px;
  }

  .map__hide img {
    -webkit-transform: none;
            transform: none;
  }

  .map__info.hide .map__hide img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .map__box {
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .fancybox__content > .f-button.is-close-btn {
    width: 44px;
    height: 44px;
    top: 20px;
    right: 8px;
  }

  .is-compact .fancybox__content > .f-button.is-close-btn {
    top: 20px;
    right: 8px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .h2 {
    font-size: 22px;
  }

  .d-xs-none {
    display: none;
  }

  .btn {
    padding: 18px 7vw;
  }

  .btn-link::after {
    right: 3vw;
  }

  .btn-page {
    width: 44px;
    height: 44px;
    line-height: 44px;
  }

  .filter__buttons {
    margin-top: 16px;
  }

  .filter__buttons button {
    padding: 4px 16px;
    font-size: 14px;
  }

  .withus__content {
    border-radius: 24px;
  }

  .withus__intro {
    padding: 24px 16px;
  }

  .withus__intro .h2 {
    font-size: 22px;
  }

  .withus__intro .h2 br {
    display: none;
  }

  .withus__slide {
    padding: 16px;
    padding-top: 40px;
    font-size: 22px;
  }

  .withus .f-carousel__dots {
    top: 16px;
    left: 16px;
  }

  .accomp__title {
    font-size: 17px;
    letter-spacing: -0.03em;
  }

  .discuss {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .discuss__content {
    padding: 16px;
    border-radius: 24px;
  }

  .discuss__contact {
    font-size: 14px;
  }

  .discuss__contact-list {
    margin-right: 16px;
  }

  .discuss__contact-list li {
    width: 64px;
    height: 64px;
  }

  .discuss__contact-list li:last-child img {
    width: 24px;
    height: 20px;
  }

  .discuss .form__submit {
    margin-top: 24px;
    font-size: 17px;
  }

  .ss__slider {
    padding-left: 24px;
    --f-carousel-spacing: 15px;
  }

  .ss__slide {
    width: 256px;
    height: 264px;
    padding: 16px;
    font-size: 22px;
    border-radius: 16px;
  }

  .widget__title {
    font-size: 20px;
  }

  .hero .btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .content__title {
    font-size: 30px;
  }

  .content__main h2 {
    font-size: 20px;
  }

  .content__main h3 {
    font-size: 20px;
  }

  .content__main blockquote {
    padding: 24px;
    margin: 24px 0;
  }

  .context {
    margin-bottom: 24px;
    padding: 16px;
  }

  .context-title {
    font-size: 17px;
  }

  .notice-p__descr--lead {
    margin-bottom: 24px;
  }

  .price__item {
    padding: 16px;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .price__text {
    padding-right: 0;
    margin-bottom: 16px;
  }

  .price__money {
    margin-left: 0;
    padding-top: 16px;
    border-left: none;
    border-top: 1px solid rgba(2, 26, 13, 0.1);
    width: 100%;
    flex-shrink: unset;
    text-align: left;
  }

  .faq__item {
    padding: 16px;
    border-radius: 8px;
  }

  .faq__item + .faq__item {
    margin-top: 8px;
  }

  .faq__ask {
    font-size: 15px;
    padding: 7px 0;
    padding-right: 46px;
  }

  .faq__answer {
    margin-top: 8px;
    font-size: 14px;
  }

  .feedback__item {
    margin: 0;
    margin-bottom: 24px;
    padding: 16px;
    border-radius: 16px;
  }

  .feedback__header {
    margin-bottom: 16px;
    font-size: 13px;
    padding: 0;
  }

  .feedback__text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 17px;
  }

  .feedback__item-first .feedback__text,
  .feedback__item-first .feedback__author {
    font-size: 17px;
  }

  .feedback__footer {
    margin-top: 40px;
  }

  .feedback__link {
    font-size: 14px;
  }

  .feedback__greet {
    font-size: 14px;
  }

  .feedback__greet::after {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  .p404__content {
    padding: 14px;
    border-radius: 24px;
  }

  .p404 h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 22px;
  }

  .footer__content {
    padding: 24px 0;
  }

  .footer__icon {
    width: 79px;
    height: 79px;
    border-radius: 24px;
  }

  .footer__popup {
    max-width: 100%;
    height: 112px;
  }

  .footer__member {
    max-width: 100%;
    height: 112px;
  }

  .footer__middle {
    margin-bottom: 0;
    flex-wrap: wrap;
  }

  .footer__menu {
    padding: 24px 0;
  }

  .footer__contact {
    padding-top: 24px;
    padding-bottom: 16px;
    text-align: left;
    order: -1;
    border-bottom: 1px solid rgba(2, 26, 13, 0.1);
  }

  .footer__logo {
    margin-bottom: 32px;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__bottom p + p {
    margin-left: 0;
  }

  .footer__bottom p:last-of-type {
    margin-left: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}