.case {

    // страница кейсов
    &__box {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        .md(gap, 16px);

        > * {
            width: 30%;
        }
    }

    &__box + .pagination {
        margin-top: 40px;
    }

    &__card-wrapper {
        width: 464px;
        max-width: 100%;
        height: 608px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .md-block({
            height: 432px;
        });
    }

    &__card-wrapper-big {
        // width: 65%;
        width: 968px;
        max-width: 100%;
        
        .case__descr {
            font-size: 36px;
            .md(font-size, 20px);

        }
    }


// слайдер

    &__slider {
        position: relative;
        padding-left: 40px;
        padding-bottom: 30px;

        height: 592px;
        .md(height, 432px);
    }

    &__slide {
        display: flex;
        flex-direction: column;
    }

    &__card {
        display: block;
        padding: 40px 40px 24px;
        border-radius: 24px;
        height: 100%;
        overflow: hidden;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        color: @white;
        

        .md-block({
            padding: 16px;
        });
        

        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: cover;
        background-color: fade(@black, 10%);
        border: 1px solid transparent;

        transition: border-color 0.5s;
        
        a {
            color: @white;
        }

        &:hover {
            border-color: fade(@black, 10%);
            
        }
    }

    &__card-05 {
        padding: 24px;
    }

    &__card + &__card {
        margin-top: 24px;
        .md(margin-top, 16px);
    }

   &__card-b {
    color: @black;

        a {
            color: @black;
        }
    }

    &__logo {
        max-width: 220px;
        height: auto;
    }

    &__card-05 &__logo {
        max-width: 165px;
    }

    &__descr {
        display: block;
        margin-top: auto;
        margin-bottom: 24px;

        font-size: 30px;
        font-weight: 500;
        line-height: 1.4;

        transition: color 0.5s;

        &:hover {
            color: @accent;
        }

        .md-block({
            margin-bottom: 12px;
            font-size: 20px;
        });
    }

    &__card-05 &__descr {
        font-size: 22px;
        margin-bottom: 16px;

        .md-block({
            font-size: 17px;
            margin-bottom: 12px;
        });
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 14px;
    }

    &__city {
        position: relative;
        padding-left: 24px;

        &::before {
            position: absolute;
            content: '';
            background: url(../img/pick-w.svg) no-repeat left top/contain;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
        }
    }

    &__lable {
        width: 140px;
        height: 140px;

        .lg-block({
            width: 70px;
            height: 70px;
        });

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__card-b &__city {
        &::before {
            background: url(../img/pick-b.svg) no-repeat left top/contain;
        }
    }

    // case item

    &__part {
        padding: 40px 0;

        .xs-block({
            padding: 24px 0;
        });
    }

    &__part + &__part {
        border-top: 1px solid fade(@black, 10%);
    }

    &__title {
        margin-bottom: 24px;
        font-size: 30px;
        line-height: 1.4;
        font-weight: 500;
        letter-spacing: -0.03em;

        .xs-block({
            margin-bottom: 16px;
            font-size: 22px;
        });
    }

    &__text {
        margin-bottom: 24px;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: -0.01em;

        .xs-block({
            margin-bottom: 16px;
            font-size: 17px;
        });

        p + p {
            margin-top: 20px;
        }
    }

    &__cont {
        display: flex;
        flex-wrap: wrap;
    }

    &__cont-item {
        margin-right: 8px;
        margin-bottom: 8px;
        padding: 24px;
        font-size: 17px;
        line-height: 1.5;
        border-radius: 24px;
        background-color: @bg;

        width: 240px;
        min-height: 240px;

        display: flex;
        flex-direction: column;

        // background-repeat: no-repeat;
        // background-position: right center;
        // background-size: 35%;

        .xs-block({
            width: 100%;
            min-height: 118px;
            padding: 16px;
            border-radius: 16px;
        });

    }

    &__cont-item--final {
        width: 100%;
        min-height: 213px;

        flex-direction: row;
        align-items: center;
        gap: 40px;

        font-size: 22px;

        .md-block({
            flex-direction: column;
            align-items: flex-start;
            font-size: 17px;
            gap: 16px;
        });
    }

    &__cont-img {
        width: 132px;
        height: 132px;

        background-color: fade(@black, 5%);
        border-radius: 16px;

        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 16px;
        }
    }

    &__cont--num {
        counter-reset: cases 0;

        .case__cont-item {
            counter-increment: cases 1;

            &::after {
                display: block;
                content: '0' counter(cases);
                color: @accent;
                margin-top: auto;
            }
        }
    }

    &__cont--scroll {
        flex-wrap: nowrap;
        overflow-x: auto;

        .case__cont-item {
            flex-shrink: 0;

            .xs-block({
                width: 180px;
                min-height: 180px;
            });
        };
    }

    &__cont-p {
        margin-bottom: 10px;

        br {
            .xs(display, none);
        }
    }

    &__cont-h {
        font-size: 19px;
        font-weight: 500;

        .xs(font-size, 15px)
    }

    &__cont-aim {
        margin-top: auto;
        color: fade(@black, 40%);
    }
}

// case page

.map__wrapper--case {
    .case__card-05 {
        height: 284px;
        .md(height, 208px);
    }
}

.content__main .map__wrapper.map__wrapper--case a {
    color: inherit;
}

// case item

.page-case {
    .content__header {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 420px;
        // background-color: fade(@black, 5%);
        color: @white;

        .md(min-height, 343px);

        .case__lable {
            position: absolute;
            right: 52px;
            top: 56px;

            .lg-block({
                right: 16px;
                top: unset;
                bottom: 16px;
            });
        }
    }

    .content__title {
        color: @white;
    }

    .info {
        color: rgba(255, 255, 255, 0.6);

        span {
            max-width: 140px;
        }
    }

    .info:last-child {
        margin-top: auto;
    }

    .content .aside {
        padding-top: 40px;
        .md(padding-top, 24px);
    }
}
