.feedback {

    // &__items {
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        // grid-gap: 24px;
    // }

    &__item {
        margin-bottom: 24px;
        padding: 32px;
        border-radius: 24px;
        background-color: fade(@black, 5%);

        .xs-block({
            padding: 16px;
            border-radius: 16px;
        });
    }

    &__header {
        margin-bottom: 8px;
        padding: 7px 0;
        display: flex;
        justify-content: space-between;

        font-size: 17px;
        line-height: 1.5;
        letter-spacing: -0.01em;

        .xs-block({
            margin-bottom: 16px;
            font-size: 13px;
            padding: 0;
        });
    }

    &__date {
        color: fade(@black, 40%);
    }

    &__text {
        font-size: 19px;
        line-height: 1.4;
        font-weight: 500;

        .xs-block({
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 17px;
        });

        p+p {
            margin-bottom: 14px;
        }
    }

    &__author {
        font-size: 19px;
        line-height: 1.4;
        font-weight: 500;
        color: fade(@black, 40%);
    }

    &__item-first .feedback__text,
    &__item-first .feedback__author {
        font-size: 22px;
        line-height: 1.3;

        .xs-block({
            font-size: 17px;
        });
    }

    &__footer {
        margin-top: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .xs-block({
            margin-top: 40px;
        });
    }
    
    &__link {
        position: relative;
        padding: 5px 16px;
        padding-right: 25px;
        
        font-size: 17px;
        
        border-radius: 999px;
        color: @black!important;
        background-color: fade(@black, 5%);
        transition: background-color 0.5s;

        &:hover, &:active, &:focus {
            background-color: fade(@black, 10%);
        }

        .xs-block({
            font-size: 14px;
        });

        &::after {
            position: absolute;
            content: url(../img/shevron.svg);
            transform: rotate(-90deg);
            right: 10px;
            top: 5px;
        }
    }

    &__greet {
        position: relative;
        padding-right: 52px;

        font-size: 17px;
        color: @black!important;

        .xs-block({
            font-size: 14px;
        });

        &::after {
            position: absolute;
            content: url(../img/greet.png);
            right: 0;
            top: 50%;
            margin-top: -20px;
            width: 40px;
            height: 40px;

            .xs-block({
                transform: scale(0.8);
            });
        }
    }

}