.header {

    // верхнее меню

    &__top-content {
        padding: 8px 0;

        display: flex;
        align-items: center;

        font-size: 14px;
        letter-spacing: -0.01em;
    }

    &__address, &__work {
        position: relative;
        color: fade(@black, 40%);
        
        padding-left: 24px;
    }

    &__address {
        margin-left: 48px;
        .lg(margin-left, 0);

        .md-block({
            font-size: 13px;
        });

        &::before {
            position: absolute;
            content: url(../img/nav.svg);
            left: 0;
            top: 0;
        }
    }

    &__address-link {
        color: inherit;
        transition: color 0.5s;

        &:hover {
            color: @black;
        }
    }

    &__work {
        margin-left: 24px;

        &::before {
            position: absolute;
            content: url(../img/time.svg);
            left: 0;
            top: 0;
        }
    }

    &__top-menu {
        margin-left: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;

        li a {
            display: block;
            padding: 8px 16px;
            margin-right: 16px;
            color: @black;
            border-radius: 8px;
            transition: background-color 0.5s;

            &:hover {
                background-color: fade(@black, 5%);
            }
        }
    }

    &__copy {
        display: flex;
        align-items: center;
    }

    &__copy-btn {
        margin-left: 8px;
        width: 36px;
        height: 36px;
        border-radius: 8px;
        background-color: fade(@black, 5%);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    // нижнее меню
    &__bottom {
        position: relative;
	    width: 100%;
        padding-top: 8px;
        padding-bottom: 16px;

        background-color: @bg;
        transition: top 1.8s;
    }

    &__bottom-content {
        display: flex;
        // align-items: center;
        align-items: stretch;

        font-size: 17px;

        > * {
            margin-right: 4px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;

        // width: 70%;
        padding: 12px;

        border-radius: 24px;
        background-color: @white;

        .md-block({
            padding: 16px;
            border-radius: 16px;
        });
    }

    &__logo {
        margin-left: 36px;
        display: flex;
        align-items: center;
        .lg(margin-left, 0);

        img {
            width: 258px;
            height: auto;

            .md(width, 135px);
        }
    }

    &__bottom-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li a {
            display: block;
            padding: 18px 24px;

            font-weight: 500;
            border-radius: 16px;
            color: @black;

            transition: background-color 0.5s;

            &:hover {
                background-color: fade(@black, 5%);
            }

            span {
                margin-left: 4px;
            }

        }
    }

    .online {
        position: relative;
        padding-right: 10px;

        &::after {
            position: absolute;
            content: '';
            right: 0;
            top: 50%;
            margin-top: -3px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: @accent;
        }
    }

    &__tel {
        position: relative;
        padding: 30px 24px;
        padding-right: 44px;
        border-radius: 24px;
        font-weight: 500;
        background-color: @white;
        cursor: pointer;

        &::after {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            right: 20px;
            top: 50%;
            margin-top: -10px;
            background: url(../img/shevron.svg) no-repeat center;
            transition: transform .3s linear;
        }


        .widget {
            position: absolute;
            width: 320px;
            top: 100%;
            right: 0;
            background: @white;
            z-index: 40;
            box-shadow: 8px 8px 16px 0px #021A0D1A;

            .btn {
                margin-top: 16px;
            }
        }
    }

    &__tel.open::after {
            transform: scaleY(-1);
            // transform: rotate(180deg);
    }

    &__mail {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 28px;
        border-radius: 24px;
    }

    &__consult {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 0;
        padding: 28px 32px;
        border-radius: 24px;
    }

}


// sticky header

.sticky-nav {
	position: fixed;
	top: -120px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	z-index: 99;
	// box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.sticky-nav.fix {
	top: 0;
}

.header--fixed {
    position: fixed;
    z-index: 99;
    width: 100%;
	left: 0;
	top: 0;
}