.popup {
    padding: 40px;
    border-radius: 32px;
    background-color: @white;

    .xs-block({
        padding: 24px 16px;
        border-radius: 16px;
    });

    &__inner {
        height: 100%;
    }

    &__title {
        margin-bottom: 8px;
        font-size: 22px;
        line-height: 1.3;
        font-weight: 500;
        letter-spacing: -0.01em;
    }

    &__text {
        margin-bottom: 32px;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: -0.01em;
    }

    &__form {

        .form__input {
            background-color: @bg;
        }

        .form__submit {
            max-width: 100%;
        }
    }

}

.fancybox__slide {
    padding: 0;
}

.fancybox__container:not(.is-compact) .fancybox__slide.has-close-btn {
    padding-top: 0;
}

.fancybox__backdrop {
    background-color: fade(@black, 50%);
}

.fancybox__content>.f-button.is-close-btn, .is-compact .fancybox__content>.f-button.is-close-btn {
    top: 16px;
    right: 16px;
    width: 14px;
    height: 14px;
    color: fade(@black, 40%);
    opacity: 1;
    
    background-color: transparent;
}




.popup.popup-thank {
    max-width: 480px;

    .btn {
        margin-top: 80px;
    }
}

.popup.popup-city {
    // width: 1028px;
    // height: 880px;
    // overflow-y: auto;

    .popup__title {
        font-size: 30px;
        .md(font-size, 20px);
    }
}

.popup.map {
    max-width: 100%;
    padding: 24px;
    background-color: fade(#000, 50%);
    border-radius: 0;
}

.popup.map.fancybox__content > .f-button.is-close-btn {
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background-color: @white!important;
    border: 2px solid fade(@black, 5%);
    opacity: 1;
    box-shadow: 8px 8px 16px 0px #021A0D1A;

    // .md-block({
    //     // width: 44px;
    //     // height: 44px;
    //     top: 20px;
    //     right: 8px;
    // });

    svg {
        stroke: @black;
    }

    &:hover {
        opacity: 1;
    }
}

// .is-compact .popup.map.fancybox__content>.f-button.is-close-btn {
//     top: 34px;
//     right: 34px;

//     .md-block({
//         top: 20px;
//         right: 8px;
//     });
// }


