.widget {

    & + & {
        margin-top: 40px;
    }

    padding: 24px;
    border-radius: 24px;
    background-color: fade(@black, 5%);

    &__title {
        position: relative;
        margin-bottom: 8px;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.3;

        display: flex;
        align-items: flex-start;

        svg {
            margin-right: 8px;
        }

        a {
            color: inherit;
        }

        .xs-block({
            font-size: 20px;
        });
    }

    &__text, .context-text {
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: -0.01em;

        li {

           a {
                color: inherit;
                transition: color 0.5s;
                
                &:hover {
                    color: @accent;
                }
           } 
        }

        li + li {
            margin-top: 20px;
        }
    }

    &__text--bottom {
        margin-top: 8px;
        font-size: 13px;
        color: fade(@black, 40%);
        letter-spacing: -0.01em;
    }

    &__btn {
        margin-top: 16px;
        width: 100%;
    }

    .btn-subscribe {
        margin-top: 0;
    }

    &__chat {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid fade(@black, 5%);

        display: flex;
        align-items: center;
    }

    &__soc {
        margin-right: 16px;
        flex-shrink: 0;

        li {
            display: inline-block;
        }

        li+li {
            margin-left: 5px;
        }
    }

    &__soc-wrap {
        display: flex;
        align-items: center;

        .md-block({
            flex-direction: column;
            align-items: flex-start
        });
    }

    .form {
        margin-top: 24px;
    }

    &__blog {
        &-image {
            flex-shrink: 0;
            width: 112px;
            height: 63px;
            border-radius: 4px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-list {
            margin-top: 24px;

            li {
                display: flex;
                gap: 10px;

                a {
                    color: inherit;
                    transition: color 0.5s;

                    &:hover {
                        color: @accent;
                    }
                }
            }

            li + li {
                margin-top: 24px;
            }
        }

        &-title {
            margin-bottom: 16px;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: -0.01em;

            .xs-block({
                margin-bottom: 8px;
                font-size: 14px;
            });
        }

    }

    // модификаторы
    &--greet {
        .widget__title,
        .widget__text {
            padding-left: 56px;
        }

        .widget__title {

            &::before {
                position: absolute;
                content: url(../img/greet.png);
                left: 0;
                top: 0;
                width: 40px;
                height: 40px;
            }
        }

        .widget__btn {
            color: @black;
            background-color: @white;

            &::after {
                right: 50px;
                content: url(../img/arrow-right-b.svg);
            }
        }
    }

    &--case {
        .widget__title {
            padding-left: 32px;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 26px;
                height: 26px;
                background: url(../img/release-green.svg) no-repeat center/contain;
            }
        }

        .widget__chat {
            // margin-top: 0;
            padding-top: 0;
            padding-left: 15px;
            margin-left: 15px;
            border-left: 1px solid fade(@black, 5%);
            border-top: none;

            .md-block({
                margin-left: 0;
                padding-left: 0;
                padding-top: 16px;
                border-left: none;
                border-top: 1px solid fade(@black, 5%);
            });
        }

        .widget__soc {
            margin-right: 0;
            .xl(margin-right, 16px);
        }

        .widget__btn {
            width: auto;
            .xs(width, 100%);
        }
    }

    &--share {
        border-top: 1px solid fade(@black, 10%);
        border-bottom: 1px solid fade(@black, 10%);
        background-color: @white;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;

        .widget__soc {
            display: flex;

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 56px;
                height: 56px;
                border-radius: 16px;
                background-color: fade(@black, 5%);
                transition: background-color 0.5s;

                &:hover {
                    background-color: fade(@black, 10%);
                }
            }
        }
    }

    &--service {
        background: fade(@black, 5%) url(../img/service-slider-bg.png) no-repeat center / cover;

        .widget__title {
            flex-direction: column;
        }

        .widget-bottom {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .service__price {
            font-size: 22px;
            font-weight: 500;
        }

        .widget-arrow {
            width: 56px;
            height: 56px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg path {
                transition: fill 0.5s;
            }

            &:hover {
                svg path {
                    fill: @accent;
                }
            }
        }
    }

    &--subscribe {
        .form {
            display: flex;
            gap: 8px;
        }
    }

    &--popular {
        background-color: @white;
        padding: 0;
    }
}

.map-section {
    .section__header {
        padding-bottom: 24px;
        .md(padding-bottom, 16px);
    }
    .filter__buttons {
        .md(margin-top, 8px);
    }
    .map__wrapper {
        // padding-left: 40px;
        // padding-right: 40px;
        width: calc(100% - 80px);
        margin-left: auto;
        margin-right: auto;

        .md-block({
            width: calc(100% - 32px);
        });
    }
}