.withus {
    
    &__content {
        display: flex;
        
        // padding: 40px;
        background-color: @white;
        border-radius: 40px;
        overflow: hidden;

        .lg-block({
            flex-direction: column;
            min-height: auto;
        });

        .xs-block({
            // padding: 24px 16px;
            border-radius: 24px;
        });
    }

    &__intro {
        padding: 40px;
        width: 34%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        .lg-block({
            width: 100%;
        });

        .xs-block({
            padding: 24px 16px;
        });

        .h2 {
            font-size: 36px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.03em;

            .xs(font-size, 22px);

            br {
                .lg(display, none);
            }
        }
    }

    &__slide-arrows {
        margin-top: auto;
    }

    &__slider {
        position: relative;
        // --f-carousel-spacing: 10px;
        // --f-carousel-slide-width: 100%;
        // --f-progress-color: @white;
        --f-progress-color: transparent;

        width: 66%;
        
        .lg-block({
            width: 100%;
        });
    }

    &__slide {
        padding: 44px 40px 40px;
        min-height: 640px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        color: @white;
        background-color: @accent;

        font-size: 36px;
        line-height: 1.2;
        letter-spacing: -0.03em;

        background-position: center bottom;
        background-repeat: no-repeat;

        .lg-block({
            padding-top: 84px;
            min-height: 400px;
        });

        .xs-block({
            padding: 16px;
            padding-top: 40px;
            font-size: 22px;
        });

        .h3 {
            font-weight: 500;
            display: flex;
            align-items: center;

            svg {
                margin: 0 3px;
            }
        }

        > * {
            max-width: 672px;
        }

        .btn {
            margin-top: auto;
            // .xl(margin-top, 184px);
            .xs(width, 100%);
        }
    }

    .f-carousel.has-dots {
        margin-bottom: 0;
    }

    .f-carousel__dots {
        bottom: 40px;
        right: 40px;
        justify-content: flex-end;
        flex-wrap: nowrap;
        max-width: 95%;

        .xl-block({
            top: 40px;
            left: 40px;
            bottom: unset;
            align-items: flex-start;
            justify-content: center;
        });

        .xs-block({
            top: 16px;
            left: 16px;
            right: 16px;
        });
    }

    .f-carousel__dots li {
        margin-right: 8px;
        width: 83px;
        height: 8px;
        // background-color: @white;
        background-color: fade(@white, 20%);
        border-radius: 999px;
        opacity: 1;

        button {
            width: 100%;
            height: 8px;
            text-align: left;
        }
    }

    
    
    .f-carousel__dot {
        // width: 83px;
        background-color: @white;
        height: 8px;
        // width: 10px;
        width: 0;
        border-radius: 999px;
        margin-right: auto;
        opacity: 0;

        transition: width 2s;
    }

    .f-carousel__dots li.is-current .f-carousel__dot {
        width: 100%;
        opacity: 1;
    }
}