.withus {
    
    &__content {
        display: flex;
        
        // padding: 40px;
        background-color: @white;
        border-radius: 40px;
        overflow: hidden;

        .lg-block({
            flex-direction: column;
            min-height: auto;
        });

        .xs-block({
            // padding: 24px 16px;
            border-radius: 24px;
        });
    }

    &__intro {
        padding: 40px;
        width: 34%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        .lg-block({
            width: 100%;
        });

        .xs-block({
            padding: 24px 16px;
        });

        .h2 {
            font-size: 36px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.03em;

            .xs(font-size, 22px);

            br {
                .lg(display, none);
            }
        }
    }

    .swiper-button-box {
        position: relative;
        width: 100%;
        height: 56px;
        margin-top: auto;
    }

    .swiper-button-prev {
        left: 0;
        bottom: 0;
    }

    .swiper-button-next {
        left: 60px;
        bottom: 0;
    }

    &__slider {
        position: relative;
        width: 66%;
        
        .lg-block({
            width: 100%;
        });
    }

    &__slide {
        padding: 44px 40px 40px;
        min-height: 640px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        color: @white;
        background-color: @accent;

        font-size: 36px;
        line-height: 1.2;
        letter-spacing: -0.03em;

        background-position: center bottom;
        background-repeat: no-repeat;

        .lg-block({
            padding-top: 84px;
            min-height: 400px;
        });

        .xs-block({
            padding: 16px;
            padding-top: 40px;
            font-size: 22px;
        });

        .h3 {
            font-weight: 500;
            display: flex;
            align-items: center;

            svg {
                margin: 0 3px;
            }
        }

        > * {
            max-width: 672px;
        }

        .btn {
            margin-top: auto;
            // .xl(margin-top, 184px);
            .xs(width, 100%);
        }
    }


    .swiper-pagination-bullets {
        bottom: 40px;
        right: 40px;
        text-align: right;
        max-width: 95%;
        display: flex;
        justify-content: flex-end;

        .lg-block({
            top: 40px;
            left: 40px;
            width: 90%;
            bottom: unset;
            text-align: left;
        });

        .xs-block({
            top: 10px;
            left: 16px;
            right: 16px;
        });
    }

    .swiper-pagination-bullet {
        margin-right: 8px;
        width: 83px;
        height: 8px;
        // background-color: @white;
        background-color: fade(@white, 20%);
        border-radius: 10px;
        opacity: 1;

        .lg-block({
           width: 100%;
        });

        &::after {
            display: block;
            content: '';
            left: 0;
            top: 0;
            width: 0;
            height: 8px;
            background-color: @white;
            opacity: 0;
            border-radius: 10px;

            transition: width 3s;
        }
    }

    .swiper-pagination-bullet-active {
        // background-color: @white;

        &::after {
            opacity: 1;
            width: 100%;
        }
    }

    .swiper-button-prev, .swiper-button-next {
        opacity: 1;
    }
    
}