.btn {
    display: inline-block;
    // min-width: 220px;
    padding: 16px 52px;

    font-size: 17px;
    font-weight: 500;
    text-align: center;

    border-radius: 16px;

	color: @white;
    background-color: @accent;
    transition: all 0.5s;

    .xs-block({
        padding: 18px 7vw;
    });

    &:hover, &:active, a:focus {
        background-color: @accent-hover;
    }

    &:disabled {
        opacity: 0.4;
    }
}

.btn-o {
    color: fade(@white, 60%);
    background-color: transparent;
    border: 2px solid fade(@white, 40%);


    &:hover, &:active, a:focus {
        border: 2px solid @white;
        color: @white;
        background-color: transparent;
    }
}

.btn-w {
    color: @black;
    background-color: @white;

    &:hover, &:active, a:focus {
        color: @accent;
        background-color: @white;
    }
}

.btn-link {
    position: relative;

    &::after {
        position: absolute;
        content: url(../img/arrow-right.svg);
        right: 1.5vw;
        top: 50%;
        transform: translateY(-50%);

        .xs-block({
            right: 3vw;
        });
    }

}

.btn-w.btn-link {
    &::after {
        content: url(../img/arrow-right-b.svg);
    }
}

.btn-map {
    background-color: @white;
    border: none;
    width: 56px;
    height: 56px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 8px 8px 16px 0px #021A0D1A;

    .md-block({
        width: 44px;
        height: 44px;
        border-radius: 12px;
    });
}

.btn-page {
    display: inline-block;
    color: @black!important;
    background-color: fade(@black, 5%);

    border-radius: 16px;
    width: 56px;
    height: 56px;

    text-align: center;
    line-height: 56px;
    transition: all 0.5s;

   .xs-block({
        width: 44px;
        height: 44px;
        line-height: 44px;
   });

    &:hover {
        background-color: fade(@black, 10%);
    }

    &:active, &.active {
        color: @white!important;
        background-color: @black;
    }

}

.btn-next, .btn-prev {
    position: relative;
    font-size: 0;

    &::after {
        position: absolute;
        display: block;
        content: '';
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: url(../img/shevron.svg) no-repeat center;
    }
}

.btn-prev {
    transform: rotate(90deg);
}

.btn-next {
    transform: rotate(-90deg);
}

// a.btn {
//     color: @white;
// }

// a.btn-o {
//     color: @black;
// }