.filter {
    
    &__buttons {
        margin-top: 24px;
        display: flex;
        overflow-x: auto;
        .xs(margin-top, 16px);
    }

    &__buttons + &__buttons {
        position: relative;
        margin-left: 20px;
        padding-left: 20px;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 1px;
            height: 40px;
            background-color: fade(@black, 10%);
        }

        .md-block({
            margin-left: 0;
            padding-left: 0;
            
            &::before {
                display: none;
            }
        })
    }

    &__button {
        position: relative;
        flex-shrink: 0;
        margin-right: 8px;
        // margin-top: 24px;
        padding: 5px 16px;
        font-size: 22px;
        font-weight: 500;
        border: none;
        border-radius: 50px;

        color: @black;
        background-color: fade(@black, 5%);

        cursor: pointer;
        transition: all 0.5s;

        .xs-block({
            // margin-top: 16px;
            padding: 4px 16px;
            font-size: 15px;
            border-radius: 12px;
        });

        &:hover {
            background-color: fade(@black, 10%);
        }

        &:active, &:focus {
            color: @white;
            background-color: @black;
        }
    }

    &__button-news,
    &__button-earth {
        padding-left: 40px!important;
        

        &::before {
            position: absolute;
            content: '';
            left: 10px;
            top: 50%;
            margin-top: -12px;
            width: 24px;
            height: 24px;
            border-radius: 16px;
            background: url(../img/blog-logo.png) no-repeat center/contain;
        }
    }

    &__button-earth {
        &::before {
            background: url(../img/earth.png) no-repeat center/contain;
        }
    }


}

.mixitup-control-active {
    color: @white!important;
    background-color: @black!important;
}